@import './base.css';

:root {
  /* also set programmatically */
  --square-size: 56px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (max-width: 500px) {
  #app {
    padding: 1rem;
  }
}

a {
  text-decoration: none;
}

p > a {
  color: var(--color-theme-green);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* disables double-tap zoom on mobile devices, when clicking buttons */
button {
  touch-action: manipulation;
}

@keyframes halo {
  from {
    transform: scale(0.8);
    opacity: 0.8;
  }
  to {
    transform: scale(1.1);
    opacity: 0;
  }
}

.halo-shadow {
  --color: #b8ddff;
}

.halo-shadow::before {
  content: '';
  border-radius: 50%;
  animation-duration: 2.5s;
  animation-name: halo;
  animation-iteration-count: infinite;
  position: absolute;
  background-color: var(--color);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.halo-shadow::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  background-color: var(--color);
  height: 90%;
  width: 90%;
  z-index: -1;
  opacity: 0.5;
}
