@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-theme-green);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* disables double-tap zoom on mobile devices, when clicking buttons */
button {
  touch-action: manipulation;
}


@keyframes halo {
  from {
    box-shadow:
            0 0 var(--still-blur) aliceblue,
            0 0 var(--blur) var(--color);
  }
  50% {
    box-shadow:
            0 0 var(--still-blur) aliceblue,
            0 0 10px var(--color);
  }
  to {
    box-shadow:
            0 0 var(--still-blur) aliceblue,
            0 0 var(--blur) var(--color);
  }
}

.halo-shadow {
  --blur: 1px;
  --still-blur: 5px;
  --color: #5b8598;
  animation-duration: 3s;
  animation-name: halo;
  animation-iteration-count: infinite;
}
