@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (max-width: 500px) {
  #app {
    padding: 1rem;
  }
}

a,
.green {
  text-decoration: none;
  color: var(--color-theme-green);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* disables double-tap zoom on mobile devices, when clicking buttons */
button {
  touch-action: manipulation;
}


@keyframes halo {
  from {
    transform: scale(0.9);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.3;
  }
  to {
    transform: scale(0.9);
    opacity: 1;
  }
}

.halo-shadow::before {
  content: "";
  --color: #5b8598;
  border-radius: 50%;
  animation-duration: 4s;
  animation-name: halo;
  animation-iteration-count: infinite;
  position: absolute;
  background-color: var(--color);
  height:100%;
  width:100%;
  z-index: -1;
}
